# Created by .ignore support plugin (hsz.mobi)
.idea/
business-read/business-read.iml
business-server/business-server.iml
caipiao-admin/caipiao-admin.iml
caipiao-app/caipiao-app.iml
caipiao-parent.iml
caipiao-web/caipiao-web.iml
core-library/core-library.iml
core-mapper/core-mapper.iml
eureka-server/eureka-server.iml
file-server/file-server.iml
task-server/task-server.iml
zuul-server/zuul-server.iml
core-library/target/
core-mapper/target/
task-server/target/
xxl-job-admin/target/
xxl-job-admin/xxl-job-admin.iml
business-read/target/
business-server/target/
.classpath
.project
.settings
/.settings/
logs/
*.class
#*/*.iml
*/target